<h3>Dados da intenção</h3>

{{#each fails}}

<div class="alert alert-danger">
{{text}}
</div>
{{/each}}

<div class="card">
<div class="card-body">
<form action="/admin/intencao/update" method="POST">
  <div class="form-row">
   <div class="form-group col-md-5">
     <label for="nome">Nome*</label>
      <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" value="{{intencao.dataValues.nome}}">
   </div>
   <div class="form-group col-md-3">
    <label for="cpf">CPF*</label>
      <input type="number" class="form-control" name="cpf" id="cpf" placeholder="000-000-000-00" value="{{intencao.dataValues.cpf}}">
  </div>
  <div class="form-group col-md-4">
      <label for="apelido">Apelido</label>
      <input type="text" class="form-control" name="apelido" value="{{intencao.dataValues.apelido}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
    <label for="datanasc">Data de nasimento*</label>
    <input type="date" class="form-control" name="datanasc" value="{{intencao.dataValues.datanasc}}">
    </div>
    <div class="form-group col-md-4">
    <label for="genero">Gênero</label>
    <select class="form-control" name="genero" value="{{intencao.dataValues.genero}}">
      <option>Feminino</option>
      <option>Masculino</option>
      <option>Personalizar</option>
    </select>
    </div>
    <div class="form-group col-md-4">
    <label for="grupo">Grupo</label>
    <select class="form-control" name="grupo" value="{{intencao.dataValues.grupo}}">
      <option>Associação de bairro</option>
      <option>Liderança do bairro</option>
      <option>Religioso católico</option>
      <option>Religioso evangélico</option>
    </select>
  </div>
  </div>
  <h3 class="h3">Endereço</h3>
  <div class="form-row">
  <div class="form-group col-md-5">
  <label for="endereço">Endereço*</label>
  <input type="text" class="form-control" name="endereço" value="{{intencao.dataValues.endereco}}">
  </div>
  <div class="form-group col-md-3">
    <label for="numero">Numero</label>
    <input type="number" class="form-control" name="numero" value="{{intencao.dataValues.numero}}">
  </div>
  <div class="form-group col-md-4">
    <label for="complemento">Complemento</label>
    <input type="text" class="form-control" name="complemento" value="{{intencao.dataValues.complemento}}">
  </div>
  </div>
  <div class="form-row">
   <div class="form-group col-md-4">
    <label for="cidade">Cidade</label>
    <input type="text" class="form-control" name="cidade" value="{{intencao.dataValues.cidade}}">
  </div> 
  <div class="form-group col-md-4">
    <label for="bairro">Bairro</label>
    <input type="text" class="form-control" name="bairro" value="{{intencao.dataValues.bairro}}">
  </div>
    <div class="form-group col-md-4">
    <label for="cep">CEP</label>
    <input type="number" class="form-control" name="cep" value="{{intencao.dataValues.cep}}">
  </div>
  </div>
  <br>
  <h3 class="h3">Dados para contato</h3>
  <label for="email">E-mail</label>
  <div class="form-group">
      <div class="form-group icon">
    <span class="fa fa-envelope form-control-feedback"></span>
      <input type="email" name="email" class="form-control" placeholder="email" value="{{intencao.dataValues.email}}">
    </div>
       <div class="form-row">
   <div class="form-group col-md-4">
    <label for="telefone">Telefone*</label>
      <input type="number" class="form-control" name="telefone" value="{{intencao.dataValues.telefone}}">
  </div>
  <div class="form-group col-md-4">
    <label for="tipo">Tipo</label>
    <select class="form-control" name="tipo" value="{{intencao.dataValues.tipo}}">
      <option>Residencial</option>
      <option>Celular</option>
      <option>Comercial</option>
      <option>Não informado</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="operadora">Operadora</label>
    <select class="form-control" name="operadora" value="{{intencao.dataValues.operadora}}">
      <option>Tim</option>
      <option>Claro</option>
      <option>Vivo</option>
      <option>Oi</option>
    </select>
  </div>
  </div>
  </div>
  <h3>Dados votação</h3>
  <div class="form-row">
   <div class="form-group col-md-6">
    <label for="eleitor">Eleitor*</label>
      <select class="form-control" name="eleitor" value="{{intencao.dataValues.eleitor}}">
        <option>Sim</option>
        <option>Não</option>
    </select>
  </div>
   <div class="form-group col-md-6">
    <label for="escola">Escola de votação*</label>
      <select class="form-control" name="escola" value="{{intencao.dataValues.escola}}">
        <option selected>...</option>
        <option>Não</option>
    </select>
  </div>
  </div>
    <h3>Dados adicionais</h3>
  <div class="form-row">
   <div class="form-group col-md-4">
    <label for="cpf">Status*</label>
      <select class="form-control" name="status" value="{{intencao.dataValues.status}}">
        <option>Ativo</option>
        <option>Inativo</option>
    </select>
  </div>
     <div class="form-group col-md-4">
    <label for="qntfilhos">Quantidade de filhos*</label>
      <input type="number" class="form-control" name="qntfilhos" value="{{intencao.dataValues.qntfilhos}}">
  </div>
  <div class="form-group col-md-4">
    <label for="estcivil">Estado civil*</label>
      <select class="form-control" name="estcivil" value="{{intencao.dataValues.estcivil}}">
        <option>Casado(a)</option>
        <option>Divorciado(a)</option>
        <option>Separado(a)</option>
        <option>Solteiro(a)</option>
        <option>Viúvo(a)</option>
        <option>União Estável</option>
    </select>
    </div>
    <div class="form-group col-md-4">
    <label for="profissao">Profissão*</label>
      <select class="form-control" name="profissao" value="{{intencao.dataValues.profissao}}">
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
        <option>Profissão</option>
    </select><br>
     <div class="form-group">
    <label for="obs">Obs</label>
    <textarea class="form-control" name="obs" rows="3" value="{{intencao.dataValues.obs}}"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Atualizar</button>
   <a href="/admin/lista/intencao_voto" class="btn btn">Listar</a>
   <input type="hidden" name="id" value="{{intencao.dataValues.id}}">
</form>
</div>
</div>